[submodule "engine_core"]
	path = engine_core
	url = https://github.com/ngspipes2/engine_core.git
[submodule "engine_executor"]
	path = engine_executor
	url = https://github.com/ngspipes2/engine_executor.git
